// // font sise 
 

// $saturn_font_size:27px;
// $saturn_font_family:"Lato-Bold";
// $font_family:"OpenSans-Bold";
// $font_family_text:"OpenSans-Regular";
 


// //color

// $color_orange:#ff6c40;
// $font_size_nav_item:15px;
// $font-family_item_nav:"Lato-Regular";
// // $lign-height:0.01px;
// $gris_color:#a4a4a4;
// $font_weight:Bold;
// $font_size:22px;
// $black_color:#000000;
// $ligne_height:24px;
// $font_weight:blod;

// //button
// $borer-radius:1px solid #ff6c40 ;
// $width_btn:124px;
// $heigth:26px;

 





@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Montserrat:wght@100&family=Nunito:wght@700&family=Poppins:wght@300&family=Roboto:wght@100;300&family=Tajawal:wght@200&display=swap');

//couleurs
$color_gris:#a4a4a4;
$color_orange:#ff6c40 ;
$black_color:hsl(0, 0%, 13%);
$more_gris_fonce:#818181;
$white_color:#ffffff;


//font family
$font-family: 'OpenSans', sans-serif;
$font_family_lato:Lato;
$font_family_sans:"OpenSans";
 $font_weight_bold:Bold;
 $font_weight_Black:Black;
 $font_weight_light:Light;
 $font_weight_regularr:Regular;
 $font_weight_semibold:Semibold;
 $font_weight_medium:Medium;
 $font_weight_BoldItalic:BoldItalic;
 $font_weight_extra:ExtraBold;

 $font-weight-regular: 400;
 $font-weight-semiBold: 600;
 $font-weight-bold_700: 700;
 $font-weight-extra_bold: 700;

 //size

 $font_size_small:16px;
 
 $font_size_smaller:13px;
 $font_size_normal:22px;
 $font_size_large:27px;



 $ligne_height:10px;


 $width_btn:124px;
 $heigth_btn:26px;

 $border:1px solid #ff6c40;
 $border_radius:5px;
 $width_btn_retour:135px;
 $heigth_btn_retour:35px;
 $border_retour:1px solid hsl(0, 0%, 13%);

